
/*base*/
.header__nav li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}
li a:hover {
   
  color: orangered;
}
.header__nav h1{
  color: white;
  font-family: 'Poppins', sans-serif;
}
.header__middle h1{
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.header__middle__top{
  margin-top: 100px;

}

.header__icon header__icon--hamburgericon{
  size: 30px;
}
#categories {
  width: 150px;
  height: 35px;
  background-color: #111111;
  color: white;
  text-align: center;
  font-size: 15px;
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
}
#search{
  width: 500px;
  height: 28px;

}
#language{
  width: 150px;
  height: 35px;
  text-align: center;
  font-size: 15px;
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
}
.header__icon--cart {
  
  color: white;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}
  .header__logo{
    margin: 20px;
    text-align: center;
  }
  .tshirt__value{
    color: orangered;
  }
  .tshirt__buy{
    color: orangered;
    text-align: left;
  }
  .shirt__value{
    color: orangered;
  }
  .shirt__buy{
    color: orangered;
    text-align: left;
  }
  .skart__value{
    color: orangered;
  }
  .skart__buy{
    color: orangered;
    text-align: left;
  }
  .fashion__heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .cloths__arrow{
    text-align: center;
  }
  .laptop__value{
    color: orangered;
  }
  .laptop__buy{
    color: orangered;
    text-align: left;
  }
  .mobile__value{
    color: orangered;
  }
  .mobile__buy{
    color: orangered;
    text-align: left;
  }
  .computer__value{
    color: orangered;
  }
  .computer__buy{
    color: orangered;
    text-align: left;
  }
  .electronic__heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .electronic__arrow{
    text-align: center;
  }
  .jhumka__value{
    color: orangered;
  }
  .jhumka__buy{
    color: orangered;
    text-align: left;
  }
  .necklace__value{
    color: orangered;
  }
  .necklace__buy{
    color: orangered;
    text-align: left;
  }
  .kangan__value{
    color: orangered;
  }
  .kangan__buy{
    color: orangered;
    text-align: left;
  }
  .accessories__heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .jewellery__arrow{
    text-align: center;
  }
  #bottom-section .nav-class .navbar{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    }
  #helpline p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  #email{
    text-align: center;
    text-decoration: underline white 2px;
    font-family: 'Poppins', sans-serif;
  }
#emailid{
  background-color: #111111;
  border: 1px solid black;
  width: 500px;
}
  footer p{
    text-align: center;
    color: gray;
    font-family: 'Poppins', sans-serif;
  }

@media (max-width:570px){
  #categories {
    width: 150px;
    height: 35px;
    background-color: #111111;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
  }
  #search{
    width: 500px;
    height: 28px;
  
  }
  #language{
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
  }
  .header__icon--cart {
    
    color: white;
    margin-top: 10px;
  }
  .header__nav li a {
    padding: 5px;
    
  }
  .header__logo{
    margin: 5px;
    
    
  }
  .header__nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    
  }
  .header__middle h1{
   font-size: medium;
   margin-top: 20px;
  }
}

  /*components*/
  #button{
    text-align: center;
  }
   #button button {
    border: 1px solid black;
    background-color: #111111;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    margin-top: 70px;
  }

  .cloths__T-shirt button{
    border: white;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 520px;
    width: 310px;
    }
    .cloths__shirt button{
      border: white;
      background-color: white;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      height: 520px;
      width: 310px;
    }
    .cloths__skart button{
      border: white;
      background-color: white;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      height: 520px;
      width: 310px;
    }
    .cloths__arrow button{
      background-color: #111111;
      color: white;
      height: 50px;
      width: 50px;
      margin: 1%;
      align-items: center;
    }

    .item__Laptop button{
      border: white;
      background-color: white;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      height: 520px;
      width: 310px;
      }
      .item__mobiles button{
        border: white;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        height: 520px;
        width: 310px;
        
      }
      .item__computer button{
        border: white;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        height: 520px;
        width: 310px;
      }
      .electronic__arrow button{
        background-color: #111111;
        color: white;
        height: 50px;
        width: 50px;
        margin: 1%;
        align-items: center;
      }
      .jewellery__jumkas button{
        border: white;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        height: 520px;
        width: 310px;
        }
        .jewellery__necklaces button{
          border: white;
          background-color: white;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
          height: 520px;
          width: 310px;
          
        }
        .jewellery__kangan button{
          border: white;
          background-color: white;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
          height: 520px;
          width: 310px;
        }
        .jewellery__arrow button{
          background-color: #111111;
          color: white;
          height: 50px;
          width: 50px;
          margin: 1%;
          align-items: center;
        }
        #email button{
          color: orangered;
          border: none;
          background-color: #111111;
        }
        @media (max-width:570px){
          #button button {
    
            padding: 5px 10px;
            
            font-size: 15px;
            margin: 2px 1px;
            
          }
        }

/*layout*/
.slider{
  display: flex;
  justify-content: space-around;
}
  .container {
    width: 80%;
    margin: 0 auto; }

body{
  margin: 0%;
}
.header{
  background-image: url(./images/banner-bg.png);
  width:auto ;
  background-repeat:no-repeat;
  height: 600px;
  background-size: cover; 
}
.header__nav{
  clip-path: path(100% 0, 95% 50%, 50% 100%, 5% 50%,0 0);
  align-items: center;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  

}
.header__nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
   .header__icons{
    display: flex;
    justify-content: space-between;
    }

.tshirt__price{
  display: flex;
  justify-content: center;
}
.tshirt__buy_or_see{
  display: flex;
  justify-content: space-around;
}
.shirt__price{
  display: flex;
  justify-content: center;
  }
.shirt__buy_or_see{
  display: flex;
  justify-content: space-around;
}
.skart__price{
  display: flex;
  justify-content: center;
  }
.skart__buy_or_see{
  display: flex;
  justify-content: space-around;
}
.Electronics__item{
  display: flex;
  justify-content: space-between;
}
.laptop__price{
  display: flex;
  justify-content: center;
  }
.laptop__buy_or_see{
  display: flex;
  justify-content: space-around;
}
.mobile__price{
  display: flex;
  justify-content: center;
  }
.mobile__buy_or_see{
  display: flex;
  justify-content: space-around;
}
.computer__price{
  display: flex;
  justify-content: center;
  }
.computer__buy_or_see{
  display: flex;
  justify-content: space-around;
}
.accessories__Jewellery{
  display: flex;
  justify-content: space-between;
}
.jhumka__price{
  display: flex;
  justify-content: center;
  }
.jhumka__buy_or_see{
  display: flex;
  justify-content: space-around;
  margin-bottom: 0%;
}
.necklace__price{
  display: flex;
  justify-content: center;
  }
.necklace__buy_or_see{
  display: flex;
  justify-content: space-around;
  margin-bottom: 0%;
}
.kangan__price{
  display: flex;
  justify-content: center;
  }
.kangan__buy_or_see{
  display: flex;
  justify-content: space-around;
  margin-bottom: 0%;
}
#bottom-section{
  background-color: #111111;
  color: white;
  margin-bottom: 0%;
}
footer{
  
  margin-bottom: 0;
}
@media (max-width:570px){
  .header{
   background-position: center center;
   height: 650px;
    
    
  }
  
  .nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
  }
  .header__middle h1{
    font-size: xx-large;
  }
  .header__icon--cart{
    font-size: small;
  }

  
  .fashion__cloths {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .cloths__shirt{
    margin-top: 15px;
  }
  .cloths__skart{
    margin-top: 15px;
  }

  
  .Electronics__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .item__mobiles{
    margin-top: 15px;
  }
  .item__computer{
    margin-top: 15px;
  }
  
  .accessories__Jewellery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .jewellery__necklaces{
    margin-top: 15px;
  }
  .jewellery__kangan{
    margin-top: 15px;
  }


.header__icons{
  
  flex-direction: column;
  
  align-items: center;
margin-top: 25px;
  }

} 